################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Repository/Repository.csproj
/CD_Management_System/appsettings.json
